/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/
/* theme color */
$el-color-primary: #1890ff;
$el-color-success: #13ce66;
$el-color-warning: #ffba00;
$el-color-danger: #ff4949;

/**
* vite不支持scss中直接:export导出，需要使用css modules方式
* see https://vitejs.cn/guide/features.html#css-modules
**/
:export {
  theme: $el-color-primary;
}
